{% extends 'base.html' %}

{% block content %}
<form class="dayForm" method="POST" action="{% url 'day' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Show tasks</button>
</form>
<div id="task-list">
    {% for task in tasks %}
    <div id="task-{{ task.id }}" class="task">
        <div class="taskContent">
            <p class="taskTitle">{{ task.title }}
            <p>
                {% if task.due_date %}
            <p class="taskDueDate">{{ task.due_date|date:"d.m.Y, H:i" }}</p>{% endif %}
            {% if task.description %}<p class="taskDescription">{{ task.description }}</p>{% endif %}
        </div>
        <div class="taskButton">
            <button class="deleteButton" onclick="deleteTask({{ task.id }})">D</button>
        </div>
    </div>
    {% empty %}
    <h2 id="no-tasks">No tasks</h2>
    {% endfor %}
</div>
{% endblock %}