{% extends 'base.html' %}

{% block content %}
    <div class="formContainer">
        <form method="POST" id="task-form">
            {% csrf_token %}
            <div class="formContent">
                <div class="form-group">
                    <input type="text" name="title" id="{{ form.title.id_for_label }}" placeholder="Title" value="{{ form.title.value|default:'' }}">
                    <div class="error">{{ form.title.errors }}</div>  <!-- Вывод ошибок, если есть -->
                </div>
            
                <div class="form-group">
                    <input type="datetime-local" name="due_date" id="{{ form.due_date.id_for_label }}" placeholder="Due Date and Time" value="{{ form.due_date.value|default:'' }}">
                    <div class="error">{{ form.due_date.errors }}</div>
                </div>
            
                <div class="form-group">
                    <textarea name="description" id="{{ form.description.id_for_label }}" placeholder="Description" value="{{ form.description.value }}"></textarea>
                    <div class="error">{{ form.description.errors }}</div>
                </div>
            </div>
            <div class="formButton">
                <button type="submit">A</button>
            </div>
        </form>
    </div>


    <div id="task-list">
        {% for task in tasks %}
            <div id="task-{{ task.id }}" class="task">
                <div class="taskContent">
                    <p class="taskTitle">{{ task.title }}<p>
                    {% if task.due_date %}<p class="taskDueDate">{{ task.due_date|date:"d.m.Y, H:i" }}</p>{% endif %}
                    {% if task.description %}<p class="taskDescription">{{ task.description }}</p>{% endif %}
                </div>
                <div class="taskButton">
                    <button class="deleteButton" onclick="deleteTask({{ task.id }})">D</button>
                </div>
            </div>
        {% empty %}
            <h2 id="no-tasks">no tasks</h2>
        {% endfor %}
    </div>
{% endblock %}